:root {
  --dark-purple: #3B38BD;
  --light-purple: #E9E9FF;
}

/*
 * Alerts
 */

.alert {
  border-radius: 0px;
}


/*
 * Cover page
 */

.content {
  padding-top: 10px;
}

.h-100 {
  min-height: 100vh;
  height: 100vh;
}

.vcenter-item{
    display: flex;
    align-items: center;
}

/*
 * Cover page
 */
h1.cover-heading {
  font-size: 4rem;
}

p.cover-text {
  font-size: 1.7rem;
}

.cover-card {
  background-color: rgba(245, 245, 245, 0.6);
  max-width: 30rem;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  border-radius: 15%;
}
.cover-card-block {
  opacity: 1
}

/*
 * container
 */
 .custom-container {
  padding: 40px;
  background-color: white;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

/*
 * navbar
 */
.custom-navbar {
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.custom-navbar .navbar-brand {
  color: white !important;
  font-family: JetBrainsMono-Bold;
}

.custom-navbar .nav-item {
  margin-bottom: 10px;
}

.custom-navbar .nav-link {
  color: white; /* Custom text color */
  border-radius: 5px;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.custom-navbar .nav-link:hover {
  color: var(--dark-purple); /* Hover color */
  background-color: white;

}

.custom-navbar .nav-link.active {
  color: var(--dark-purple); /* Primary text color */
  background-color: white; /* Light blue background */
}

.custom-navbar .navbar-brand {
  color: #4caf50; /* Custom brand color */
}

/*
 * forms
 */
.nolabel label {
  display: none;
}

ul.errorlist {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*
 * Typefaces
 */

.low-key {
  color: #777777;
  font-weight: 300;
}

.list-title {
  margin-top: 10px;
  margin-bottom: 20px;
}

/*
 * Profile
 */
.profile-image {
  width: 120px;
  clear:both;
  float:left;
}

.profile-text {
  overflow:hidden;
  padding-left:20px
}

h3.profile-title {
  margin-bottom: 0px;
}

.profile-username {
  color: #777777;
  font-weight: 300;
  font-style: italic;
}


/*
 * Hyperlinks
 */
.content a {
  text-decoration: none;
  color: #0d6efd;
}
.content a:hover {
  text-decoration: underline;
  color: #0d6efd;
}

/* 
 * Defining our custom font 
 */

@font-face {
  font-family: 'JetBrainsMono';
  src: url('/static/fonts/JetBrainsMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrainsMono-Bold';
  src: url('/static/fonts/JetBrainsMono-Bold.ttf') format('truetype');
}

/* Using it all across the website */
body {
  font-family: JetBrainsMono;
}

/* 
 * Log in 
 */

.login-form-wrapper {
  width: 100%;
  background-color: white;
  padding: 20px;
}

/* Adjust 'Login' text so that it is bold and large */
.login-form-wrapper h1 {
  text-align: center;
  font-family: JetBrainsMono-Bold;
  font-size: 3.5rem;
}

/* Change colour appropriately */
.login-form {
  color: var(--dark-purple);
}

.image-container {
  background-image: url("images/login.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;  /* Ensures the div takes up the full viewport height */
}

/* Styling only the input fields in the login form */
.login-form input, 
.login-form textarea, 
.login-form select {
  background-color: var(--light-purple);  /* Light grey background */
  border: 1px solid var(--dark-purple);     /* Light border */
  padding: 10px;
  border-radius: 5px;
}

/* Making button/input area fancier by adding hover functionality */
.btn:hover,
.login-form input:hover {
  background-color: var(--light-purple) !important;
  color: var(--dark-purple); /* Inverting colours */
  transform: scale(1.025); /* Increasing size of buttons/input area slightly */
  transition: 1000ms;
}

.btn {
  background-color: var(--dark-purple) !important;
  width: 100%;
  border-radius: 20px !important;
  font-size: 15px;
}

.divider { 
  display: flex;
  text-align: center;
  align-items: center;
  padding-top: 15px;
  color: var(--dark-purple);
}

/* Creating a divider line (--- or ---) */
.divider::before,
.divider::after {
  content: ""; /* Generate content for the lines */
  flex: 1; /* Make the lines flexible to fill space */
  border-top: 1px solid var(--dark-purple); /* Style the lines */
  margin: 0 10px; /* Spacing around the text */
}

.footer {
  position: fixed;
  width: 500px;
  bottom: 5px;
  text-align: center;
  align-items: center;
  color: var(--dark-purple);
  border-radius: 20px;
  padding: 5px 20px 5px 20px;
}

.footer .hover-text {
  display: none; /* Hide the hover text by default */
}

.footer:hover .default-text {
  display: none; /* Hide the default text when hovered */
}

.footer:hover,
.footer:hover .hover-text {
  display: inline; /* Show the hover text when hovered */
  background-color: var(--dark-purple) !important;
  color: var(--light-purple);
  transform: scale(1.025);
  transition: 1000ms, background-color 0ms;
}

/* Custom row colors for table-striped */
.table-striped tbody tr:nth-of-type(odd) {
  background-color: var(--light-purple); /* Light Purple */
}

/* Customize the hover effect */
.table-striped tbody tr:hover {
  background-color: #e0e0f759; /* LightBlue */
}

/* Container for filter labels */
.filter-labels {
  display: flex; 
  gap: 10px; 
}

/* Plain text styling for filter labels */
.filter-label {
  color: #333; 
  font-size: 16px;
  text-decoration: none;
  cursor: pointer; 
  transition: color 0.3s; 
}

/* Hover state for labels */
.filter-label:hover {
  color: black;
}

/* Active label styling */
.filter-label.active {
  color: var(--dark-purple); 
  font-weight: bold; 
}

/* Styling the filter separator */
.filter-separator {
  border: none; /* Remove default border */
  border-top: 1px solid #aaaaaa; /* Add a light gray horizontal line */
  margin: 5px 0; /* Add spacing around the line */
}
