{% extends 'base_content.html' %}
{% block content %}
    <dev class="w-100">
      <dev class="row">
        <div class="col-12">
          <h1>Invoices</h1>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Invoice #</th>
                <th>Date</th>
                <th>Status</th>
                <th>Descreption</th>
                <th>Total</th>
                {% if user.is_tutor %}
                  <th>Action</th>
                {% endif %}
                </tr>
                </thead>
                <tbody>
                  {% for invoice in invoices %}
          <tr>
            <td>{{ invoice.number }}</td>
            <td>{{ invoice.date }}</td>
            <td>
              {% if invoice.status == "Paid" %}
              <span class="badge bg-success">Paid</span>
              {% elif invoice.status == "Due" %}
              <span class="badge bg-warning text-dark">Due</span>
              {% endif %}
            </td>
            <td>{{ invoice.description }}</td>
            <td>${{ invoice.total }}</td>
            {% if user.is_tutor %}
              <td>
                <form method="POST" style="display: inline;">
                  {% csrf_token %}
                  <input type="hidden" name="invoice_id" value="{{ invoice.id }}">
                  {% if invoice.status == "Due" %}
                  <input type="hidden" name="new_status" value="Paid">
                  <button type="submit" class="btn btn-success">Mark as Paid</button>
                  {% elif invoice.status == "Paid" %}
                  <input type="hidden" name="new_status" value="Due">
                  <button type="submit" class="btn btn-warning">Mark as Due</button>
                  {% endif %}
                </form>
              </td>
            {% endif %}
          </tr>
          {% empty %}
          <tr>
            <td colspan="7">No Invoices available.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
