{% extends 'base.html' %}
{% block body %}
<div class="container-fluid vh-100">
  <div class="row h-100">
    <!-- Left side for the image -->
    <div class="col-md-6 p-0 image-container"></div>

    <!-- Right side for the login form -->
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <div class="login-form-wrapper">
        <h1>Login</h1>
        <div class="mt-3">
          {% include 'partials/messages.html' %}
        </div>
        <form method="post" class="login-form">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}">
          {% include 'partials/bootstrap_form.html' with form=form %}
          <input type="submit" value="Log in" class="btn btn-primary mt-3">
          <div class="divider"> <!-- Divider to separate log in and sign up buttons-->
            <span>or</span> 
          </div>
          <a href='{% url 'sign_up' %}' class="btn btn-lg btn-primary mt-3"> <!-- New sign up button -->
            Sign up
          </a>
        </form>
      </div> 
      <footer class="footer">
        <span class="default-text">Created by Team Jackal</span>
        <span class="hover-text">Created by Fasih, Leen, Lucas, Thenujan, Yara</span>
      </footer>
    </div>
  </div>
</div>

{% endblock %}
