{% extends 'base_content.html' %}
{% block content %}
<div class="w-100 d-flex flex-column">
  <div class="w-100 mb-4 d-flex justify-content-between align-items-center">
    <h1>Requests</h1>

    {% if not user.is_staff %}
    <div>
        <a type="button" class="btn btn-secondary d-inline-block px-3 rounded-pill" href="{% url 'new_booking_request' %}">
            <i class="bi bi-plus-circle me-2"></i>
            New
        </a>
        <a type="button" class="btn btn-secondary d-inline-block px-3 rounded-pill" href="{% url 'change_cancel_booking_request' %}">
            <i class="bi bi-vector-pen me-2"></i>
            Change/Cancel
        </a>
    </div>
    {% endif %}
  </div>
  <div class="filter-labels">
    <form method="get" class="d-flex gap-3 mb-4 ">
      <!-- Status Dropdown -->
      <div>
        <label for="status" class="form-label">Status:</label>
        <select name="status" id="status" class="form-select w-auto">
            <option value="" {% if status_filter == '' %}selected{% endif %}>All</option>
            <option value="Pending" {% if status_filter == 'Pending' %}selected{% endif %}>Pending</option>
            <option value="Approved" {% if status_filter == 'Approved' %}selected{% endif %}>Approved</option>
        </select>
      </div> 
      
      <!-- Tutee Name Dropdown (visible only if the user is admin) -->
      {% if user.is_staff %}
      <div>
        <label for="tutee" class="form-label">Tutee:</label>
        <select name="tutee" id="tutee" class="form-select w-auto">
            <option value="" {% if tutee_filter == '' %}selected{% endif %}>All</option>
            {% for tutee in tutees %}
            <option value="{{ tutee.user.username }}" {% if tutee_filter == tutee.user.username %}selected{% endif %}>
                {{ tutee.user }}
            </option>
            {% endfor %}
        </select>
      </div>
      <div>
        <label for="is_late" class="form-label">Timing:</label>
        <select name="is_late" id="is_late" class="form-select w-auto">
            <option value="" {% if is_late_filter == '' %}selected{% endif %}>All</option>
            <option value="On Time" {% if is_late_filter == 'On Time' %}selected{% endif %}>On Time</option>
            <option value="Delayed" {% if is_late_filter == 'Late' %}selected{% endif %}>Late</option>
        </select>
      </div>
      {% endif %}
      <!-- Submit Button -->
      <button type="submit" class="btn btn-primary mt-auto">Filter</button>
    </form>
  </div>
  <hr class="filter-separator">
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
            <th>Date Submitted</th>
            <th>Tutee</th>
            <th>Request Type</th>
            <th>Status</th>
            <th>Timing</th>
            <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for request in page_obj %}
        <tr>
            {% load tz %}
            <td>{{ request.created_at|localtime|date:"m/d/Y g:i a" }}</td>
            <td>{{ request.tutee.user.full_name }}</td>
            <td>{{ request.request_type }}</td>
            <td>{{ request.status }}</td>
            <td class="{% if request.is_late %}text-danger{% else %}text-success{% endif %}">{% if request.is_late %}Late{% else %}On Time{% endif %}</td>
            <td>
                <!-- View Button -->
                <a href="/requests/{{ request.id }}" class="btn btn-sm btn-secondary me-2 py-0 px-3 rounded-pill">
                    <i class="bi bi-eye"></i> View
                </a>
                {% if user.is_staff %}
                <!-- Approve Button -->
                <form method="post" action="" style="display:inline;">
                    {% csrf_token %}
                    <input type="hidden" name="approve_request_id" value="{{ request.id }}">
                    <button type="submit" class="btn btn-sm btn-success py-0 px-3 rounded-pill" onclick="return confirm('Are you sure you want to approve this request?');">
                    <i class="bi bi-check-circle"></i> Approve
                    </button>
                </form>
                <!-- Reject/Delete Button -->
                <form method="post" action="" style="display:inline;">
                    {% csrf_token %}
                    <input type="hidden" name="delete_request_id" value="{{ request.id }}">
                    <button type="submit" class="btn btn-sm btn-danger py-0 px-3 rounded-pill" onclick="return confirm('Are you sure you want to reject & delete this request?');">
                    <i class="bi bi-x-circle"></i> Reject
                    </button>
                </form>
                {% endif %}
            </td>
            
        </tr>
        {% empty %}
        <tr>
          <td colspan="9">No requests available.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link previous-link" href="?page={{ page_obj.previous_page_number }}">&laquo; Previous</a>
      </li>
      {% endif %}
      
      <li class="page-item disabled">
        <span class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
      </li>
      
      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link next-link" href="?page={{ page_obj.next_page_number }}">Next &raquo;</a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
{% endblock %}
