{% extends 'base_content.html' %}
{% block content %}
<div class="w-100">
  <div class="row">
    <div class="col-12">
      <h1 class="mb-4">Listed Tutees</h1>
      
      <div class="filter-labels">
        <p class="fst-italic">Sort(firstname): </p>
        <!-- Sort A-Z -->
        <a href="?sort=A-Z" class="filter-label {% if request.GET.sort == 'A-Z' %}active{% endif %}">
            A-Z
        </a>
    
        <!-- Sort Z-A -->
        <a href="?sort=Z-A" class="filter-label {% if request.GET.sort == 'Z-A' %}active{% endif %}">
            Z-A
        </a>
      </div>

      <hr class="filter-separator">

      <table class="table table-striped">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          {% for tutee in tutees %}
          <tr>
            <td>{{ tutee.user.first_name }}</td>
            <td>{{ tutee.user.last_name }}</td>
            <td>{{ tutee.user.username }}</td>
            <td>{{ tutee.user.email }}</td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="7">No registered tutees.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}