<div class="col-md-3 body text-white p-3" style="background-color: #3B38BD; display: flex; flex-direction: column; height: 100vh;">
  <h2 class="text-center" style="font-family: ourFontBold;">LOGO</h2>
  <ul class="nav flex-column" style="flex-grow: 1;">
      <li class="nav-item">
          <a class="nav-link text-white" href="#">Booking List</a>
      </li>
      <li class="nav-item">
          <a class="nav-link text-white" href="#">Invoices</a>
      </li>
  </ul>
  <!-- Username and logout at the bottom -->
  <div class="mt-auto text-center">
      <li class="nav-item">
          <a class="nav-link text-white"href="#">Username</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white"href="#">Logout</a>
    </li>
  </div>
</div>
