<nav class="custom-navbar d-flex flex-column vh-100 w-100 p-3">
  <div class="w-100 px-auto d-flex justify-content-center pb-4 mb-3 border-bottom border-white">
    <a class="navbar-brand fs-3 d-flex align-items-center" href="{% url 'dashboard' %}">
      <i class="bi bi-code-slash fs-1 me-3"></i>
      Code Tutors
    </a>
  </div>
  {% if user.is_authenticated %}
  <ul class="nav flex-column w-100 px-auto">
    <li class="nav-item">
      <a class="nav-link {% if request.path == '/dashboard/' %}active{% endif %}" href="{% url 'dashboard' %}">
        <i class="bi bi-grid me-2"></i>
        Bookings
      </a>
    </li>
    {% if user.is_staff %}
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/tutees/' %}active{% endif %}" href="{% url 'tutees' %}?sort=A-Z">
          <i class="bi bi-person-fill me-2"></i>
          Tutees
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/tutors/' %}active{% endif %}" href="{% url 'tutors' %}?sort=A-Z">
          <i class="bi bi-person-lines-fill me-2"></i>
          Tutors
        </a>
      </li>
    {% endif %}
    {% if not user.is_tutor %}
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/requests/' %}active{% endif %}" href="{% url 'requests' %}">
          <i class="bi bi-pencil-square me-2"></i>
          Requests
        </a>
      </li>
    {% endif %}
    <li class="nav-item">
      <a class="nav-link {% if request.path == '/invoices/' %}active{% endif %}" href="{% url 'invoices' %}?status=">
        <i class="bi bi-cash-coin me-2"></i>
        Invoices
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if request.path == '/inbox/' %}active{% endif %}" href="{% url 'inbox' %}?status=">
        <!-- Dynamic icon for inbox -->
        {% if unread_notifications_count > 0 %}
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mailbox-flag me-2" viewBox="0 0 16 16">
          <path d="M10.5 8.5V3.707l.854-.853A.5.5 0 0 0 11.5 2.5v-2A.5.5 0 0 0 11 0H9.5a.5.5 0 0 0-.5.5v8zM5 7c0 .334-.164.264-.415.157C4.42 7.087 4.218 7 4 7s-.42.086-.585.157C3.164 7.264 3 7.334 3 7a1 1 0 0 1 2 0" />
          <path d="M4 3h4v1H6.646A4 4 0 0 1 8 7v6h7V7a3 3 0 0 0-3-3V3a4 4 0 0 1 4 4v6a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V7a4 4 0 0 1 4-4m0 1a3 3 0 0 0-3 3v6h6V7a3 3 0 0 0-3-3" />
        </svg> <!-- Flag icon for unread notifications -->
        {% else %}
          <i class="bi bi-mailbox me-2"></i> <!-- Default inbox icon -->
        {% endif %}
        Inbox
        <!-- Notification counter fixed on the right -->
        <span>{{ unread_notifications_count|default:0 }}</span>
      </a>
    </li>
  </ul>
  <div class="mt-auto">
  </div>
  <div>

  </div>
  <div class="dropup dropup-center w-100 px-auto d-flex flex-column align-items-center border-top border-white pt-4">
    <i class="bi bi-person-circle fs-1 text-white"></i>
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      {{ user.username }}
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'profile' %}">Change profile</a></li>
      <li><a class="dropdown-item" href="{% url 'password' %}">Change password</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="{% url 'log_out' %}">Log out</a></li>
    </ul>
  </div>
  {% endif %}
</nav>