<nav class="custom-navbar d-flex flex-column vh-100 w-100 p-3">
  <div class="w-100 px-auto d-flex justify-content-center pb-4 mb-3 border-bottom border-white">
    <a class="navbar-brand fs-3 d-flex align-items-center" href="{% url 'dashboard' %}">
      <i class="bi bi-code-slash fs-1 me-3"></i>
      Code Tutors
    </a>
  </div>
  {% if user.is_authenticated %}
  <ul class="nav flex-column w-100 px-auto">
    <li class="nav-item">
      <a class="nav-link {% if request.path == '/dashboard/' %}active{% endif %}" href="{% url 'dashboard' %}">
        <i class="bi bi-grid me-2"></i>
        Bookings
      </a>
    </li>
    {% if user.is_staff %}
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/tutees/' %}active{% endif %}" href="{% url 'tutees' %}">
          <i class="bi bi-person-fill me-2"></i>
          Tutees
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/tutors/' %}active{% endif %}" href="{% url 'tutors' %}">
          <i class="bi bi-person-lines-fill me-2"></i>
          Tutors
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/view_requests/' %}active{% endif %}" href="{% url 'view_requests' %}">
          <i class="bi bi-pencil-square me-2"></i>
          Requests
        </a>
      </li>
    {% elif not user.is_tutor %}
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/requests/' %}active{% endif %}" href="/requests">
          <i class="bi bi-pencil-square me-2"></i>
          Requests
        </a>
      </li>
    {% endif %}
    <li class="nav-item">
      <a class="nav-link {% if request.path == '/invoices/' %}active{% endif %}" href="{% url 'invoices' %}?status=">
        <i class="bi bi-cash-coin me-2"></i>
        Invoices
      </a>
    </li>
  </ul>
  <div class="mt-auto">
  </div>
  <div>

  </div>
  <div class="dropup dropup-center w-100 px-auto d-flex flex-column align-items-center border-top border-white pt-4">
    <i class="bi bi-person-circle fs-1 text-white"></i>
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      {{ user.username }}
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'profile' %}">Change profile</a></li>
      <li><a class="dropdown-item" href="{% url 'password' %}">Change password</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="{% url 'log_out' %}">Log out</a></li>
    </ul>
  </div>
  {% endif %}
</nav>